<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mfgoogletagmanager>
            <general>
                <enabled>0</enabled>
                <mfmodule>GoogleTagManager</mfmodule>
                <mftype>1</mftype>
            </general>
            <web_container>
                <enable>0</enable>
                <account_id/>
                <container_id/>
                <public_id/>
            </web_container>
            <analytics>
                <enable>0</enable>
                <measurement_id/>
            </analytics>
            <attributes>
                <product>sku</product>
                <brand/>
            </attributes>
        </mfgoogletagmanager>
    </default>
</config>
